<a href="https://colab.research.google.com/github/KalyanChakradhar-Pulipati/Python4DataEngineering/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
print('Welcome to Data Engineering')

Welcome to Data Engineering

In [18]:
greeting='Hello Data Engineering'
print(greeting)

Hello Data Engineering

# Variables and Data Types

In [19]:
int_var=7
flo_var=4.2
str_var='Data Engineering'
bool_var=True

In [20]:
print(int_var)
print(flo_var)
print(str_var)
print(bool_var)

7
4.2
Data Engineering
True

# Operations and expressions

In [21]:
num1=5
num2=565
sum=num1+num2
print(sum)

570

In [22]:
sub=num2-num1
print(sub)

560

In [23]:
mul=num1*num2
print(mul)

2825

In [24]:

div=num2/num1
print(div)

113.0

In [25]:
var_equal= num1==num2
print(var_equal)

False

In [26]:

var_not_equal=num1!=num2
print(var_not_equal)

True

In [27]:

gret=num1>num2
print(gret)

False

In [28]:

less=num1<num2
print(less)

True

In [29]:
print(True and False)

False

In [30]:
print(True or False)

True

# Control Statement

In [34]:
num=7
if num > 10:
  print('Number is greater than 10')
elif num < 10:
  print('Number is less than 10')
else:
  print('Number is equal to 10')

Number is less than 10

In [35]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [37]:
num=5
while num<=10:
  print(num)
  num=num+1

5
6
7
8
9
10